<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <div>
        <!-- an h1 tag with the to-do list's name as its content -->
        <h1>{{ todos_details.name }}</h1>
        <p>
          <!-- variable names form the context  -->
          <a href="{% url 'todo_list_update' id=todos_details.id %}">Edit</a>
        </p>
        <p>
          <a href="{% url 'todo_list_delete' id=todos_details.id %}">Delete</a>
        </p>
        <h2>Tasks</h2>
        <table>
          <thead>
            <tr>
              <th>Task</th>
              <th>Due Date</th>
            </tr>
          </thead>
          <tbody>
            <!-- get items from the models foreign key -->
            {% for item in todos_details.items.all %}
            <tr>
              <td>{{ item.task }}</td>
              <td>{{ item.due_date }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
